sudo: required
services:
  - docker
language: node_js
node_js:
  - 6
  - 8
branches:
  except:
    - latest
    - production
    - /^v[0-9]\.[0-9]\.[0-9]$/
before_script:
  - ./create_config.sh
script:
  - grunt coverage
  - ./bin/stock-import --projectKey ${SPHERE_PROJECT_KEY} --clientId ${SPHERE_CLIENT_ID} --clientSecret ${SPHERE_CLIENT_SECRET} --file data/example.xml
  - ./bin/stock-import --projectKey ${SPHERE_PROJECT_KEY} --clientId ${SPHERE_CLIENT_ID} --clientSecret ${SPHERE_CLIENT_SECRET} --file data/example.csv
  - docker build -t commercetools/stock-import .
notifications:
  hipchat:
    rooms:
      - secure: LpkIzsJIyPtoQVWpcvlkCySGj7D92hOAY278lukFpUMfm0tmFeytWwvIetvPPfYxfAkqDg2IJhkmgMD0txQ1h+A/d0aEJLSrwpmktudxtP6o0X8nuYIYI26yA5VCkbMubWshyWctNyu3awjHB6N+pznyRoqqgPHJmrQULyP0oOg=
    template:
      - '%{repository}#%{build_number} (%{author}): %{message} (<a href="%{build_url}">Details</a>/<a href="%{compare_url}">Compare</a>)'
    format: html
    on_success: change
    on_failure: change
